@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  /* border: 1px solid red; */
}

body {
  background-color: #f0ead6;
}

.header {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
  font-size: xx-large;
}

/* Style to the settings */
.settings {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

button,
.number {
  width: 8rem;
  height: 2rem;
  background-color: #d5c48b;
  font-size: 1.3rem;
  border-radius: 5%;
}

.number {
  height: 1.6rem;
}

.color-pick {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

input[type="color"] {
  width: 100%;
  height: 100%;
  transform: scale(1.5);
}

::placeholder {
  color: black;
}

/* Grid styles */
.grid-container {
  width: 40rem;
  height: 40rem;
  margin: 0 auto;
  display: grid;
  border: 1px solid black;
}

.grid {
  border: 1px solid black;
  background-color: white;
}
